In [4]:
import pandas as pd

import xml.etree.ElementTree as ET

In [5]:
archivo_txt = pd.read_csv("./data_txt_clean.txt", sep= ";")
archivo_txt.head()

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,...,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN
4,4,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI

In [15]:
archivo_csv = pd.read_csv("./exported_db_data.csv")
archivo_csv.head()

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
archivo_xml = pd.read_csv("./data_xml_clean.xml")
archivo_xml.head()

                     <data>
0                     <row>
1      <level_0>0</level_0>
2          <index>0</index>
3          <time>910</time>
4          <age>50-54</age>

In [8]:
tree = ET.parse("data_xml_clean.xml")
root = tree.getroot()

edad = []
time = []
gender = []
index = []

for child in root:
    for subchild in child:
        if subchild.tag == "age":
            edad.append(subchild.text)
        elif subchild.tag == "time":
            time.append(subchild.text)
        elif subchild.tag == "gender":
            gender.append(subchild.text)
        elif subchild.tag == "index":
            index.append(subchild.text)
#print(time)

edad

['50-54',
 '50-54',
 '22-24',
 '45-49',
 '45-49',
 '25-29',
 '18-21',
 '30-34',
 '22-24',
 '30-34',
 '40-44',
 '18-21',
 '18-21',
 '45-49',
 '22-24',
 '35-39',
 '50-54',
 '18-21',
 '22-24',
 '30-34',
 '70+',
 '25-29',
 '30-34',
 '35-39',
 '18-21',
 '25-29',
 '45-49',
 '22-24',
 '22-24',
 '18-21',
 '22-24',
 '30-34',
 '22-24',
 '30-34',
 '22-24',
 '30-34',
 '25-29',
 '30-34',
 '22-24',
 '18-21',
 '25-29',
 '25-29',
 '55-59',
 '30-34',
 '18-21',
 '40-44',
 '22-24',
 '18-21',
 '25-29',
 '30-34',
 '25-29',
 '40-44',
 '40-44',
 '40-44',
 '30-34',
 '22-24',
 '30-34',
 '35-39',
 '18-21',
 '35-39',
 '18-21',
 '18-21',
 '30-34',
 '18-21',
 '18-21',
 '40-44',
 '30-34',
 '30-34',
 '35-39',
 '40-44',
 '25-29',
 '22-24',
 '30-34',
 '45-49',
 '22-24',
 '40-44',
 '50-54',
 '22-24',
 '25-29',
 '22-24',
 '35-39',
 '30-34',
 '30-34',
 '18-21',
 '25-29',
 '22-24',
 '25-29',
 '25-29',
 '25-29',
 '55-59',
 '25-29',
 '30-34',
 '22-24',
 '55-59',
 '18-21',
 '30-34',
 '25-29',
 '40-44',
 '22-24',
 '22-24',
 '18-21',
 '25-29',
 '22-24',
 '25-29',
 '40-44',
 '35-39',
 '30-34',
 '55-59',
 '40-44',
 '22-24',
 '18-21',
 '22-24',
 '45-49',
 '30-34',
 '18-21',
 '60-69',
 '25-29',
 '40-44',
 '18-21',
 '35-39',
 '18-21',
 '70+',
 '40-44',
 '30-34',
 '60-69',
 '25-29',
 '40-44',
 '40-44',
 '22-24',
 '30-34',
 '45-49',
 '18-21',
 '25-29',
 '35-39',
 '25-29',
 '30-34',
 '18-21',
 '18-21',
 '25-29',
 '40-44',
 '18-21',
 '25-29',
 '30-34',
 '25-29',
 '35-39',
 '18-21',
 '40-44',
 '22-24',
 '30-34',
 '25-29',
 '70+',
 '22-24',
 '18-21',
 '22-24',
 '18-21',
 '30-34',
 '22-24',
 '22-24',
 '30-34',
 '22-24',
 '50-54',
 '60-69',
 '30-34',
 '22-24',
 '50-54',
 '25-29',
 '22-24',
 '45-49',
 '22-24',
 '35-39',
 '60-69',
 '22-24',
 '30-34',
 '40-44',
 '18-21',
 '40-44',
 '30-34',
 '35-39',
 '22-24',
 '25-29',
 '22-24',
 '18-21',
 '22-24',
 '35-39',
 '30-34',
 '18-21',
 '35-39',
 '60-69',
 '30-34',
 '30-34',
 '40-44',
 '55-59',
 '18-21',
 '30-34',
 '40-44',
 '35-39',
 '22-24',
 '40-44',
 '25-29',
 '25-29',
 '30-34',
 '30-34',
 '22-24',
 '30-34',
 '22-24',
 '30-34',
 '18-21',
 '22-24',
 '18-21',
 '45-49',
 '35-39',
 '30-34',
 '55-59',
 '18-21',
 '18-21',
 '35-39',
 '30-34',
 '18-21',
 '30-34',
 '18-21',
 '30-34',
 '60-69',
 '35-39',
 '70+',
 '18-21',
 '45-49',
 '18-21',
 '25-29',
 '25-29',
 '25-29',
 '22-24',
 '22-24',
 '55-59',
 '25-29',
 '50-54',
 '22-24',
 '18-21',
 '45-49',
 '25-29',
 '50-54',
 '30-34',
 '30-34',
 '40-44',
 '18-21',
 '35-39',
 '18-21',
 '25-29',
 '22-24',
 '25-29',
 '35-39',
 '30-34',
 '22-24',
 '35-39',
 '55-59',
 '40-44',
 '30-34',
 '22-24',
 '25-29',
 '60-69',
 '50-54',
 '35-39',
 '30-34',
 '30-34',
 '25-29',
 '35-39',
 '35-39',
 '45-49',
 '18-21',
 '22-24',
 '25-29',
 '25-29',
 '25-29',
 '25-29',
 '45-49',
 '25-29',
 '22-24',
 '22-24',
 '22-24',
 '25-29',
 '22-24',
 '35-39',
 '18-21',
 '40-44',
 '50-54',
 '30-34',
 '45-49',
 '22-24',
 '35-39',
 '25-29',
 '35-39',
 '22-24',
 '18-21',
 '22-24',
 '18-21',
 '22-24',
 '45-49',
 '30-34',
 '50-54',
 '40-44',
 '50-54',
 '30-34',
 '25-29',
 '22-24',
 '25-29',
 '25-29',
 '45-49',
 '30-34',
 '30-34',
 '25-29',
 '35-39',
 '60-69',
 '22-24',
 '18-21',
 '60-69',
 '25-29',
 '40-44',
 '35-39',
 '22-24',
 '18-21',
 '25-29',
 '18-21',
 '25-29',
 '40-44',
 '35-39',
 '40-44',
 '25-29',
 '30-34',
 '35-39',
 '22-24',
 '35-39',
 '18-21',
 '25-29',
 '40-44',
 '22-24',
 '25-29',
 '35-39',
 '45-49',
 '35-39',
 '25-29',
 '40-44',
 '25-29',
 '18-21',
 '70+',
 '50-54',
 '18-21',
 '30-34',
 '55-59',
 '35-39',
 '18-21',
 '18-21',
 '18-21',
 '25-29',
 '22-24',
 '30-34',
 '30-34',
 '30-34',
 '40-44',
 '35-39',
 '25-29',
 '22-24',
 '25-29',
 '22-24',
 '55-59',
 '35-39',
 '18-21',
 '25-29',
 '18-21',
 '25-29',
 '25-29',
 '35-39',
 '18-21',
 '25-29',
 '50-54',
 '35-39',
 '45-49',
 '25-29',
 '60-69',
 '25-29',
 '60-69',
 '22-24',
 '25-29',
 '22-24',
 '25-29',
 '18-21',
 '35-39',
 '18-21',
 '45-49',
 '25-29',
 '18-21',
 '40-44',
 '25-29',
 '50-54',
 '25-29',
 '35-39',
 '50-54',
 '18-21',
 '50-54',
 '50-54',
 '18-21',
 '35-39',
 '18-21',
 '40-44',
 '22-24',
 '35-39',
 '25-29',
 '25-29',
 '25-29',
 '18-21',
 '40-44',
 '30-34',
 '55-59',
 '25-29',
 '22-24',
 '22-24',
 '25-29',
 '45-49',
 '30-34',
 '30-34',
 '30-34',
 '25-29',
 '25-29',
 '22-24',
 '40-44',
 '35-39',
 '25-29',
 '45-49',
 '18-21',
 '35-39',
 '18-21',
 '40-44',
 '30-34',
 '30-34',
 '18-21',
 '35-39',
 '25-29',
 '22-24',
 '30-34',
 '22-24',
 '22-24',
 '22-24',
 '22-24',
 '18-21',
 '18-21',
 '18-21',
 '30-34',
 '25-29',
 '30-34',
 '22-24',
 '35-39',
 '22-24',
 '18-21',
 '30-34',
 '40-44',
 '30-34',
 '25-29',
 '22-24',
 '18-21',
 '35-39',
 '22-24',
 '30-34',
 '22-24',
 '30-34',
 '18-21',
 '30-34',
 '40-44',
 '25-29',
 '50-54',
 '25-29',
 '25-29',
 '25-29',
 '18-21',
 '30-34',
 '45-49',
 '35-39',
 '30-34',
 '45-49',
 '18-21',
 '22-24',
 '35-39',
 '22-24',
 '25-29',
 '35-39',
 '50-54',
 '18-21',
 '25-29',
 '22-24',
 '35-39',
 '35-39',
 '30-34',
 '45-49',
 '40-44',
 '45-49',
 '22-24',
 '18-21',
 '25-29',
 '18-21',
 '35-39',
 '22-24',
 '55-59',
 '22-24',
 '22-24',
 '30-34',
 '18-21',
 '25-29',
 '30-34',
 '60-69',
 '45-49',
 '25-29',
 '25-29',
 '18-21',
 '35-39',
 '25-29',
 '18-21',
 '35-39',
 '18-21',
 '22-24',
 '25-29',
 '50-54',
 '45-49',
 '50-54',
 '25-29',
 '35-39',
 '18-21',
 '18-21',
 '35-39',
 '25-29',
 '18-21',
 '55-59',
 '18-21',
 '22-24',
 '40-44',
 '40-44',
 '25-29',
 '22-24',
 '22-24',
 '60-69',
 '25-29',
 '18-21',
 '22-24',
 '22-24',
 '35-39',
 '22-24',
 '18-21',
 '18-21',
 '25-29',
 '35-39',
 '55-59',
 '35-39',
 '18-21',
 '30-34',
 '18-21',
 '22-24',
 '22-24',
 '18-21',
 '35-39',
 '25-29',
 '35-39',
 '22-24',
 '22-24',
 '30-34',
 '30-34',
 '35-39',
 '45-49',
 '25-29',
 '22-24',
 '18-21',
 '30-34',
 '18-21',
 '40-44',
 '18-21',
 '22-24',
 '22-24',
 '22-24',
 '22-24',
 '35-39',
 '25-29',
 '30-34',
 '18-21',
 '22-24',
 '30-34',
 '25-29',
 '22-24',
 '22-24',
 '25-29',
 '25-29',
 '22-24',
 '30-34',
 '35-39',
 '22-24',
 '50-54',
 '25-29',
 '60-69',
 '18-21',
 '25-29',
 '22-24',
 '22-24',
 '50-54',
 '22-24',
 '22-24',
 '25-29',
 '25-29',
 '30-34',
 '60-69',
 '25-29',
 '40-44',
 '35-39',
 '30-34',
 '25-29',
 '25-29',
 '18-21',
 '40-44',
 '40-44',
 '45-49',
 '50-54',
 '18-21',
 '50-54',
 '18-21',
 '22-24',
 '22-24',
 '35-39',
 '22-24',
 '22-24',
 '22-24',
 '30-34',
 '18-21',
 '25-29',
 '25-29',
 '22-24',
 '25-29',
 '25-29',
 '55-59',
 '22-24',
 '30-34',
 '22-24',
 '30-34',
 '25-29',
 '25-29',
 '35-39',
 '30-34',
 '22-24',
 '35-39',
 '18-21',
 '25-29',
 '25-29',
 '35-39',
 '30-34',
 '25-29',
 '30-34',
 '55-59',
 '40-44',
 '22-24',
 '35-39',
 '22-24',
 '60-69',
 '30-34',
 '25-29',
 '30-34',
 '35-39',
 '70+',
 '18-21',
 '22-24',
 '35-39',
 '60-69',
 '25-29',
 '35-39',
 '22-24',
 '22-24',
 '22-24',
 '30-34',
 '22-24',
 '50-54',
 '40-44',
 '30-34',
 '30-34',
 '45-49',
 '50-54',
 '30-34',
 '30-34',
 '45-49',
 '25-29',
 '18-21',
 '18-21',
 '25-29',
 '40-44',
 '22-24',
 '35-39',
 '25-29',
 '22-24',
 '30-34',
 '30-34',
 '18-21',
 '18-21',
 '22-24',
 '35-39',
 '25-29',
 '25-29',
 '30-34',
 '18-21',
 '45-49',
 '22-24',
 '35-39',
 '18-21',
 '18-21',
 '25-29',
 '40-44',
 '60-69',
 '25-29',
 '50-54',
 '22-24',
 '22-24',
 '40-44',
 '50-54',
 '25-29',
 '60-69',
 '40-44',
 '22-24',
 '35-39',
 '18-21',
 '18-21',
 '30-34',
 '35-39',
 '35-39',
 '45-49',
 '25-29',
 '35-39',
 '18-21',
 '22-24',
 '18-21',
 '22-24',
 '22-24',
 '30-34',
 '18-21',
 '22-24',
 '40-44',
 '22-24',
 '30-34',
 '30-34',
 '50-54',
 '18-21',
 '25-29',
 '45-49',
 '45-49',
 '18-21',
 '40-44',
 '35-39',
 '55-59',
 '22-24',
 '35-39',
 '22-24',
 '45-49',
 '25-29',
 '35-39',
 '22-24',
 '18-21',
 '30-34',
 '30-34',
 '25-29',
 '30-34',
 '30-34',
 '25-29',
 '22-24',
 '18-21',
 '45-49',
 '30-34',
 '40-44',
 '35-39',
 '30-34',
 '30-34',
 '22-24',
 '22-24',
 '18-21',
 '40-44',
 '30-34',
 '35-39',
 '22-24',
 '35-39',
 '25-29',
 '22-24',
 '18-21',
 '25-29',
 '18-21',
 '18-21',
 '40-44',
 '25-29',
 '25-29',
 '25-29',
 '30-34',
 '30-34',
 '18-21',
 '18-21',
 '18-21',
 '22-24',
 '18-21',
 '22-24',
 '25-29',
 '18-21',
 '55-59',
 '18-21',
 '30-34',
 '25-29',
 '25-29',
 '30-34',
 '25-29',
 '18-21',
 '18-21',
 '60-69',
 '18-21',
 '25-29',
 '22-24',
 '18-21',
 '30-34',
 '40-44',
 '35-39',
 '25-29',
 '22-24',
 '40-44',
 '18-21',
 '30-34',
 '22-24',
 '25-29',
 '25-29',
 '18-21',
 '22-24',
 '45-49',
 '18-21',
 '22-24',
 '22-24',
 '18-21',
 '25-29',
 '18-21',
 '22-24',
 '25-29',
 '18-21',
 '30-34',
 '30-34',
 '30-34',
 '30-34',
 '25-29',
 '22-24',
 '45-49',
 '22-24',
 '50-54',
 '22-24',
 '18-21',
 '25-29',
 '22-24',
 '25-29',
 '60-69',
 '35-39',
 '30-34',
 '35-39',
 '22-24',
 '25-29',
 '25-29',
 '40-44',
 '35-39',
 '35-39',
 '35-39',
 '45-49',
 '40-44',
 '35-39',
 '22-24',
 '30-34',
 '25-29',
 '50-54',
 '18-21',
 '30-34',
 '18-21',
 '18-21',
 '55-59',
 '22-24',
 '30-34',
 '18-21',
 '35-39',
 '25-29',
 '60-69',
 '18-21',
 '30-34',
 '22-24',
 '25-29',
 '18-21',
 '22-24',
 '18-21',
 '18-21',
 '25-29',
 '30-34',
 '35-39',
 '35-39',
 '40-44',
 '25-29',
 '25-29',
 '40-44',
 '25-29',
 '22-24',
 '50-54',
 '35-39',
 '35-39',
 '18-21',
 '45-49',
 '18-21',
 '18-21',
 '30-34',
 '60-69',
 '18-21',
 '30-34',
 '22-24',
 '35-39',
 '45-49',
 '30-34',
 '40-44',
 '40-44',
 '35-39',
 '18-21',
 '22-24',
 '25-29',
 '30-34',
 '40-44',
 '22-24',
 '30-34',
 '22-24',
 '18-21',
 '22-24',
 '18-21',
 '22-24',
 '55-59',
 '22-24',
 '25-29',
 '25-29',
 '30-34',
 '70+',
 '40-44',
 '25-29',
 '30-34',
 '25-29',
 '30-34',
 '60-69',
 '18-21',
 '35-39',
 '18-21',
 '18-21',
 '18-21',
 '25-29',
 '18-21',
 '25-29',
 '45-49',
 '18-21',
 '40-44',
 '18-21',
 '55-59',
 '18-21',
 '30-34',
 '30-34',
 '30-34',
 '45-49',
 '40-44',
 '25-29',
 '18-21',
 '25-29',
 '35-39',
 '25-29',
 '25-29',
 '50-54',
 '25-29',
 '35-39',
 '22-24',
 '40-44',
 '40-44',
 '18-21',
 '45-49',
 '18-21',
 '35-39',
 '30-34',
 '22-24',
 '40-44',
 '45-49',
 '25-29',
 '22-24',
 '25-29',
 '25-29',
 '25-29',
 '30-34',
 '25-29',
 '40-44',
 '25-29',
 '22-24',
 '25-29',
 '18-21',
 '40-44',
 '25-29',
 '45-49',
 '45-49',
 '22-24',
 '25-29',
 '18-21',
 '30-34',
 '22-24',
 '25-29',
 '35-39',
 '18-21',
 '25-29',
 ...]

In [14]:
df_xml = pd.DataFrame(list(zip(index,edad,time,gender)), columns = ["index","edad","time", "gender"])
df_xml

       index   edad  time gender
0          0  50-54   910    Man
1          1  50-54   784    Man
2          2  22-24   924    Man
3          3  45-49   575    Man
4          4  45-49   781    Man
...      ...    ...   ...    ...
25968  25968  30-34  1756    Man
25969  25969  22-24   253    Man
25970  25970  50-54   494    Man
25971  25971  45-49   277    Man
25972  25972  18-21   255    Man

[25973 rows x 4 columns]

In [10]:
print(archivo_txt.shape)
print(df_xml.shape)
print(archivo_csv.shape)

(25973, 27)
(25973, 4)
(25973, 18)

In [17]:
concat_archivos = pd.concat([df_xml, archivo_txt, archivo_csv], axis=1)
concat_archivos.head()

,index,edad,time,gender,index,Q3,Q4,Q5,Q6,Q8,...,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,50-54,910,Man,0,India,Bachelor’s degree,Other,5-10 years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,50-54,784,Man,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,22-24,924,Man,2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,45-49,575,Man,3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,45-49,781,Man,4,India,Doctoral degree,Other,< 1 years,Python,...,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
concat_archivos.shape
concat_archivos.columns
new_df = concat_archivos.copy()


del new_df["index"]
print(new_df.columns)
new_df.head()

Index(['edad', 'time', 'gender', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q13',
       'Q15', 'Q20', 'Q21', 'Q22', 'Q23', 'Q25', 'Q26', 'Q33', 'Q35', 'Q41',
       'Q7', 'Q9', 'Q12', 'Q14', 'Q16', 'Q17', 'Q24', 'Q32', 'Q34',
       'Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4', 'Q10_Part_5',
       'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10',
       'Q10_Part_11', 'Q10_Part_12', 'Q10_Part_13', 'Q10_Part_14',
       'Q10_Part_15', 'Q10_Part_16', 'Q10_OTHER'],
      dtype='object')

,edad,time,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,...,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,50-54,910,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50-54,784,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22-24,924,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,45-49,575,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,45-49,781,Man,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,...,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

**Guardar el archivo en CSV**

In [11]:

#archivo_xml.to_csv("xml_csv.csv")

In [13]:
archivo_txt = pd.read_csv("/Users/lidiacarriedoponce/Desktop/project-da-promo-A-module-2-team-2/archivos descargados/data_txt_clean.txt", sep= ";")
archivo_txt.head()
#archivo_txt.to_csv("txt_csv.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/Users/lidiacarriedoponce/Desktop/project-da-promo-A-module-2-team-2/archivos descargados/data_txt_clean.txt'

In [ ]:
import pandas as pd

# set files path
archivo_txt2 = "./txt_csv.csv"
archivo_csv2 = "./exported_db_data.csv"
archivo_xml2 = "./xml_csv.csv"

print("*** Merging multiple csv files into a single pandas dataframe ***")

# merge files
dataFrame = pd.concat(
   map(pd.read_csv, [archivo_xml2, archivo_txt2, archivo_csv2]), ignore_index=True)
dataFrame